/**
* Gebruik :is selector om te stijlen zoals in de tekst beschreven staat.
*
* Wat gebeurt er bij een typo bij een klassieke multi-selector?
* Vergelijk met :is()
*
* Wat met de specificiteit? Klassieke selector vs :is()? Plaats ze eens boven of onder elkaar.
*/
.is-container :is(h3, span, strong) {
    color: red;
}
.is-container a:is(:hover, :focus){
    color: blue;
}


/**
* Gebruik :where selector om te stijlen zoals in de tekst beschreven staat.Wat gebeurt er met de specificiteit?
*/

.where-container :where(h3, span, strong){
    color: blue;
}
.where-container a:where(:hover, :focus){
    color: green;
}

/**
* Gebruik :not selector om te stijlen zoals in de tekst beschreven staat.
*/

.not-container p:not(.no-italic) {
    font-style: italic;
}

/**
* Gebruik :has selector om te stijlen zoals in de tekst beschreven staat.
*/

.card:has(.button){
    background-color: black;
}

.card:not(:has(.button)) strong {
    color: yellow;
}

/**
* Style de navigatie links met de :has pseudo-selector.
*/
nav:has( a:hover) a:not(:hover){
    opacity: 0.5;
}